<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790898982326-jlgc2qfqlnfftfqblui0j0gegvkvq722.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790898982326-jlgc2qfqlnfftfqblui0j0gegvkvq722</string>
	<key>API_KEY</key>
	<string>AIzaSyAtmGTuKlo-Ady0HrdR02-U99E0GQSr2-g</string>
	<key>GCM_SENDER_ID</key>
	<string>790898982326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deemaalkamdi.SnappchatApp</string>
	<key>PROJECT_ID</key>
	<string>snappchatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>snappchatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790898982326:ios:15edb8c2475b39f5a11517</string>
</dict>
</plist>