<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638667254576-qlcj2rj5icl65mngdd3r1j4m617017fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638667254576-qlcj2rj5icl65mngdd3r1j4m617017fp</string>
	<key>API_KEY</key>
	<string>AIzaSyAERsGj_B9QAaSecWTmi5EWnb4rxA-CpOg</string>
	<key>GCM_SENDER_ID</key>
	<string>638667254576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atheer-alzahrani.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchatteamproject</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatteamproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:638667254576:ios:6d45246e4cdecf5c4076f5</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatteamproject-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
