<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiamF3YWhlcmhhc3NhbjIyIiwiYSI6ImNrdnpnd2FuM2N6b3kzMHM3YjMxY3hyNmgifQ.tslDJpVeJ81DbuubaNyNpg</string>
	<key>NSLocationUsageDescription</key>
	<string>mapp</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>map</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow access to microphone</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow access camera</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow access library photo</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access library photo</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
