<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432653047960-0sjb8v3e2posrokc5fi1tuu2bl8u96g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432653047960-0sjb8v3e2posrokc5fi1tuu2bl8u96g2</string>
	<key>API_KEY</key>
	<string>AIzaSyDAm3Mjb2HR62osM-7Xqy2ZvtEk4hQWJi4</string>
	<key>GCM_SENDER_ID</key>
	<string>432653047960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sally.com.snapchatt</string>
	<key>PROJECT_ID</key>
	<string>snapchatt-fe356</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatt-fe356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432653047960:ios:6b639dfaf47bf1385998ed</string>
</dict>
</plist>