<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230574380163-sjr1htdnk9i2ftnbboknnu8du0183uko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230574380163-sjr1htdnk9i2ftnbboknnu8du0183uko</string>
	<key>API_KEY</key>
	<string>AIzaSyDGD8fiusgon1rPqFyn0pIVl4S8XaowE40</string>
	<key>GCM_SENDER_ID</key>
	<string>230574380163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amal.SnapChat</string>
	<key>PROJECT_ID</key>
	<string>snapapp-e0267</string>
	<key>STORAGE_BUCKET</key>
	<string>snapapp-e0267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230574380163:ios:88fcc92a8a3011c88e37b6</string>
</dict>
</plist>